.homeDashboard {
  height: calc(100vh - var(--omrs-topnav-height) - 10rem);
  display: flex;
  justify-content: center;
  margin: 0 auto;
}

.mainSection {
  min-height: 60vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.label {
  color: var(--omrs-color-interaction);
  margin-left: 0.25rem;
  text-align: center;
}

.logoSection {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

@media only screen and (min-width: 720px) {
  .dashboardLink {
    width: 40%;
    justify-content: center;
  }
}

@media only screen and (max-width: 720px) {
  .dashboardLink {
    width: 80%;
    justify-content: center;
  }
}
