@use '@carbon/colors';
@use '@carbon/layout';
@use '@carbon/type';
@import '~@openmrs/esm-styleguide/src/vars';

.header {
  @include type.type-style('body-compact-02');
  color: $text-02;
  height: layout.$spacing-12;
  background-color: $ui-02;
  border-bottom: 1px solid $ui-03;
  display: flex;
  justify-content: space-between;
}

.left-justified-items {
  display: flex;
  flex-direction: row;
  align-items: center;
  cursor: pointer;
}

.right-justified-items {
  @include type.type-style('body-compact-02');
  color: $text-02;
  margin: 1rem;
}

.page-name {
  @include type.type-style('heading-04');
}

.page-labels {
  margin: 1rem 0.5rem;

  p:first-of-type {
    margin-bottom: 0.25rem;
  }
}

.date-and-location {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.value {
  margin-left: 0.25rem;
}

.middot {
  margin: 0 0.5rem;
}

// Overriding styles for RTL support
html[dir='rtl'] {
  .date-and-location {
    & > svg {
      order: -1;
    }

    & > span:nth-child(2) {
      order: -2;
    }
  }
}
