@use '@carbon/colors';
@use '@carbon/styles/scss/spacing';

.dashboardContainer {
  display: flex;
  flex-direction: column;
  margin: 0;
  // Full vertical height minus the primary navigation menu height
  height: calc(100vh - 3rem);
  margin-left: 16rem;
  background-color: colors.$gray-10;

  & a {
    width: 100%;
  }
}

.logoSection {
  display: flex;
  justify-content: center;
}
