:root {
  --dashboard-button-width: 10rem;
  --dashboard-button-margin: 0.25rem;
}

.homeDashboard {
  display: flex;
  justify-content: center;
  margin: 0 auto;
}

:global(.omrs-breakpoint-gt-phone) .homeDashboard {
  height: calc(100vh - var(--omrs-topnav-height) - 10rem);
}

.mainSection {
  min-height: 1vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: flex-start;
  flex-grow: 1;
}

.searchLinkArea {
  display: flex;
  flex-basis: 100%;
  justify-content: center;
  margin: 2rem auto;
}

.buttonArea > div {
  min-height: 1vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
  align-items: center;
  flex-grow: 1;
}

.label {
  color: var(--omrs-color-interaction);
  margin-left: 0.25rem;
  text-align: center;
}

.logoSection {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.break {
  height: 0;
  flex-basis: 100%;
}

:global(.omrs-breakpoint-lt-tablet) .dashboardLink {
  width: 80%;
}

:global(.omrs-breakpoint-gt-phone) .dashboardLink {
  width: 22rem;
}

:global(.omrs-breakpoint-lt-tablet) .buttonArea {
  max-width: calc(
    var(--dashboard-button-width) * 2 + var(--dashboard-button-margin) * 4
  );
}

:global(.omrs-breakpoint-gt-phone) .buttonArea {
  max-width: calc(
    var(--dashboard-button-width) * 3 + var(--dashboard-button-margin) * 6
  );
}

:global(.omrs-breakpoint-gt-tablet) .buttonArea {
  max-width: calc(
    var(--dashboard-button-width) * 4 + var(--dashboard-button-margin) * 8
  );
}

.homeButton a {
  height: 7rem;
  width: var(--dashboard-button-width);
  margin: var(--dashboard-button-margin);
  justify-content: center;
  white-space: normal;
}
