@use '@carbon/colors';
@use '@carbon/styles/scss/spacing';

.dashboardContainer{
  margin-left: 16rem;
  background-color: colors.$white-0;
  padding: spacing.$spacing-02;

  & li {
    display: flex;
  }

  & a {
    width: 100%;
  }
}

li::marker{
  font-size: 0px;
}
.logoSection{
  display: flex;
  justify-content: center;
}