@import "../root.scss";

.searchResults {
  margin: 1rem;
}

.searchTerm {
  @include carbon--type-style("productive-heading-03");
  color: $text-01;
  margin-top: 0.375rem;
}

.resultsText {
  @include carbon--type-style("label-01");
  color: $text-02;
}

.patientSearchHeader {
  display: flex;
  height: var(--omrs-topnav-height);
  box-shadow: inset 0px -2px 0px rgba(0, 0, 0, 0.08);
  backdrop-filter: blur(24px);
  margin-top: var(--omrs-topnav-height);
}

.patientSearchInput {
  background: transparent;
  border: none;
  caret-color: var(--omrs-color-interaction);
  padding: 0;
  width: 100%;
  text-align: center;
}

.patientSearchInput:focus {
  outline: none;
}

.patientSearchInput::placeholder {
  color: var(--omrs-color-ink-medium-contrast);
}

.helperText {
  color: var(--omrs-color-ink-medium-contrast);
  margin-left: 2.375rem;
}

.emptyResultText {
  margin-top: 1rem;
  margin-bottom: 0.313rem;
  @include carbon--type-style("productive-heading-01");
  color: $text-02;
}

.actionText {
  @include carbon--type-style("body-long-01");
  color: $text-02;
  margin-bottom: 1rem;
}

.pagination {
  display: flex;
  justify-content: space-evenly;
  padding: 4.688rem 0 1.5rem;
}
