@use '@carbon/styles/scss/spacing';
@use '@carbon/styles/scss/type';
@use '@carbon/colors';
@import '~@openmrs/esm-styleguide/src/vars';

.homeMetricsWidget {
  padding: spacing.$spacing-05;
}

.tileContainer {
  border: 0.0625rem solid $ui-03;
  height: 7.875rem;
  padding: spacing.$spacing-05;
  margin: spacing.$spacing-03 spacing.$spacing-03;
  max-width: 20rem;
}

.tileHeader {
  font-size: 0.875rem;
  font-weight: 600;
  line-height: 1.28572;
  letter-spacing: 0.16px;
  color: #525252;
}